<h1>Danh sach san pham</h1>

<a href="/addProduct" class="btn btn-primary">Them san pham <i class="fa fa-plus"></i></a>


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>Ảnh</th>
        <th>    </th>
    </tr>
    {{#each product3}}
    <tr>
        <td>{{{id}}}</td>
        <td>{{{name}}}</td>
        {{!-- <td>{{{price}}}</td> --}}
        <td>{{{description}}}</td>
         <td><img width="100px" src="uploads/{{{avatar}}}" alt=""></td>
        <td><a href="/update?id={{{id}}}"> <i class="fa fa-pen"></i> </a><a href="/delete?id={{{id}}}"> <i class="fa fa-eye"></i> </a>
        <a href="/view?id={{{id}}}"> <i class="fa fa-trash"></i> </a></td>
        
    </tr>
    {{/each}}
</table>
